* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

 body {
    margin: 50px auto;
		background-color: whitesmoke;
    }	

	#para {
		font-size: 30px;
		text-align: center;
	}
	#head{
		text-align: center;
	}
	label {
		font-size: 20px;
	}

	#main {
		width: 50%;
		background-color: yellow;
		 padding: 60px;
		 border: 3px solid #000;
		 height: inherit;
		 margin: 10px auto;
	}

	#submitguess {
		border-radius: 18px;
		padding: 15px 20px;
		background-color: black;
		color: white;
		border: none;
		margin-right: 20px;
	}

	#submitguess:hover  {
		background-color: white;
		color: black;
		border: none;
		cursor: pointer;
		
	}

	#guessField {
		border-radius: 18px;
		background-color: whitesmoke;
		width: 50%;
		border: none;
		padding: 15px;
		margin: 10px 0px;
	}

	#guessField:focus {
		background-color: lightgray;
		border: none;
		outline: none;
	}

	#btn {
		color: black;
		background-color: white;
		border-radius: 18px;
		padding: 15px 20px;
		border: none;
		margin-left: 20px;
	}

	#btn:hover {
		color: white;
		background-color: black;
		border: none;
		cursor: pointer;
	}
	.but {
	
		margin-left: 170px;
	}
		@media screen and (max-width: 1024px) {
	#main {
		width: 50%;
		padding: 20px;
	}
	#head{
		font-size: 20px;
	}
	#para {
		font-size: 20px;
	}
	label {
		font-size: 20px;
	}
}
	@media screen and (max-width: 820px) {
	#main {
		width: 80%;
		padding: 20px;
	}
	label {
		font-size: 20px;
	}
	.but {
		margin-left: 200px;
	}
}
	
	@media screen and (max-width: 600px) {
	#main {
		width: 100%;
		padding: 20px;
	}
	#head{
		font-size: 15px;
	}
	#para {
		font-size: 15px;
	}
	.but {
		margin-left: 115px;
		display: inline-flex;
	}
	#btn {
		margin-left: 3px;
	}
	#submitguess {
		margin-right: 3px;
	}
	label {
		font-size: 20px;
	}

		@media screen and (max-width: 414px) {
			.but {
		margin-left: 160px;
	}
}

@media screen and (max-width: 414px) {
			.but {
		margin-left: 130px;
	}
	#guessField {
		width: 60%;
	
	}
	label {
		font-size: 15px;
	}
#submitguess {
		padding: 10px 15px;
	}
	#btn {
		padding: 10px 15px;
	}
}